.virtual-lab {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 4500px;
    position: static;
    padding-top: 10rem;
    
}

.lab-intro {

    margin: auto 10rem;
    border-bottom: 2px solid white;
    border-width: 9%;
    padding-bottom: 5rem;
    
}

#yt-intro {
    width: 100%;
    height: 20rem;
    /* margin-right: 10rem; */
    
}

.description {
    text-align: justify;
}



@media screen and (max-width: 600px){
    .lab-intro {
        margin: auto;
        
    }

    #yt-intro {
        /* height: 15rem; */
        width: 100%;

        margin-bottom: 2rem;
    }
}

.tutorial {
    margin: 10rem auto;
}