
/* Preloader */

#loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: linear-gradient(black,rgb(44, 44, 44)) ;
	background-size: 300px;
	z-index: 999999 !important;
}


.preloader-img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	display: block;
	height: 400px;
	animation: 4s logo-anim, 1s logo-float 4s ;
	/* animation: 2s logo-rot 3s; */
	/* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes logo-anim {
	0% {
		top: 80%;
		transform: scale(0.3);
		

	}

	60% {
		top: -5%;
		transform: scale(1);
	}

	100% {
		top: 0;
		transform: scale(1);


	}

	
}

@keyframes logo-float {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}

}

@media screen and (max-width: 600px){
	.preloader-img {
		height: 200px;
	}
}
